@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Squada One', cursive;
}

body {
    background-color: whitesmoke;
}

.pokemon-logo {
    width: 120px;
}

#poke-container .card-color {
    background: lightgreen;
}

.pokeball-container {
    opacity: 0.7;
    margin-top: 10px;
    padding: 3%;
    max-width: 90%;
    position: relative;
    top: 10px;
    left: 15px;

}

.pokemon {
    margin-top: 10px;
    padding: 5%;
    max-width: 90%;
    position: absolute;
    top: 50px;
    left: 15px;
    transition: 0.8s;
}

.card {
    border: none;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.card .card-header {
    background-color: #343A40;
    width: 100%;
    height: 50px;
    color: whitesmoke;

}

.card.pokeball {
    margin-bottom: 5px;
    width: 50px;
}

.card-title {
    letter-spacing: 1px;
}

.steel {
    background-color: #f4f4f4;
}

.fire {
    background-color: #FDDFDF;
}

.grass {
    background-color: #DEFDE0;
}

.electric {
    background-color: #FCF7DE;
}

.water,
.ice {
    background-color: #DEF3FD;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #fceaff;
}

.poison {
    background-color: #98d7a5;
}

.bug {
    background-color: #f8d5a3;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #eaeda1;
}

.flying {
    background-color: #F5F5F5;
}

.card:hover {
    color: red;
    animation: bounce 0.8s linear;
}

.pokemon:hover {
    transform: scale(1.1);
}

.modal-poke-image {
    width: 250px;

}

#staticBackdropLabel {
    color: whitesmoke;
}

.close {
    width: 50px;
}

.close:hover {
    color: whitesmoke;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
}